<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="Service.WeatherService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000"/>
					</baseAddresses>
				</host>
				<endpoint
					address="WeatherService"
					binding="netTcpBinding"
					bindingConfiguration="weatherBinding"
					contract="Common.IWeatherService" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="weatherBinding"
						 maxReceivedMessageSize="10485760"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 transferMode="Streamed" />
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<appSettings>
		<add key="T_threshold"       value="2.0" />
		<add key="RH_threshold"      value="5.0" />
		<add key="DEW_threshold"     value="2.0" />
		<add key="OutOfBand_percent" value="25"  />
	</appSettings>
</configuration>